
<html lang="en">
<head>
    <title>null</title>
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Poppins"
    />
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<section id="header">
    <div class="account"><span>welcome</span><a th:href="@{/logout}"><span class="out">&awconint;</span>Logout</a></div>
</section>
</body>
</html>

<html>
<head>
    <title>WebTech-Dashboard</title>
    <link rel="stylesheet" th:href="@{/myStyles.css}" >
</head>
<body>
