<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SLDS</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

    <section id="home">
        <section id="header">
            <div class="account"><span>welcome</span><a th:href="@{/login}"><span class="out">&awconint;</span>Login</a></div>
        </section>
        <div class="contents">
            <div class="patients">
                <th:block th:each="pt: ${listPatients}">
                    <div class="patient-card">
                        <p th:text="${pt.id}" style="display: none;"></p>
                        <img th:src="@{${'/images/' + pt.picture}}" alt="picture"  height="100px" width="100px">
                        <span th:text="${pt.names}"></span>
                        <span th:text="${pt.amount}"></span>
                        <span class="desc" th:text="${pt.description}"></span>
                        <button class="donateBtn">Donate</button>
                    </div>
                </th:block>
            </div>
        </div>

        <div class="footer">
            <div class="feedback">
                <form th:action="@{addFeedback}" method="post" id="fForm" th:object="${feedbackModel}">
                    <div class="form-input">
                        <label for="e-mail">Email:</label><input type="email" placeholder="Email" id="e-mail" th:field="*{email}">
                    </div>
                    <div class="form-input">
                        <label for="message">Message: </label><textarea placeholder="message" id="message" cols="30" rows="3" th:field="*{message}"></textarea>
                    </div>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </section>

<div class="modal" id="modal">
    <div class="modalContent">
        <div class="head">
            <h3>Donate patient</h3>
            <button id="closeModal">X</button>
        </div>
        <div class="form">
            <div>
            <p id="names"></p>
            <p class="desc" id="description"></p></div>
            <form th:action="@{addDonation}" method="post" id="form" th:object="${donationModel}" enctype="multipart/form-data">
                <input type="hidden" id="patient" th:field="*{patient.id}">
                <div class="form-input">
                    <label for="email">Email:</label><input type="email" id="email" th:field="*{email}" required>
                </div>
                <div class="form-input">
                    <label for="amount">Amount:</label><input type="text" id="amount" th:field="*{amount}" required>
                </div>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>
</body>
</html>

<script defer>
    const donateBtn = document.querySelectorAll(".donateBtn");
    const form = document.getElementById('form');
    const patientId = document.getElementById('patient');
    const realAmount = document.getElementById('amount');
    const names = document.getElementById("names");
    const desc = document.getElementById("description");
    const modal = document.getElementById('modal');
    const closeModal = document.getElementById('closeModal');

    donateBtn.forEach(button => {
        button.addEventListener('click', () => {
            const row = button.closest('div');

            patientId.value = row.getElementsByTagName('p')[0].innerText;
            names.innerText = row.getElementsByTagName('span')[0].innerText;
            realAmount.value = row.getElementsByTagName('span')[1].innerText;
            desc.innerText = row.getElementsByTagName('span')[2].innerText;

            modal.classList.add('active');
        });
    });

    closeModal.addEventListener('click', () => {
        modal.classList.remove('active');
    })
</script>