<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>SLDS - Login&Registration</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins" />
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
	<div class="container">
		<h1>Charity</h1>
		<nav>
			<a href="/">Home</a>
		</nav>
	</div>
</header>
	<section id="wrapper">
		<div class="tabs">
			<div id="loginTab">Login</div>
			<div id="registerTab">Register</div>
		</div>
		<div id="loginContent" class="contents active">
			<div class="form">
				<h2>Login</h2>
				<form th:action="@{userLogin}" method="post" id="form a" th:object="${accountModel}">
					<div class="form-input">
						<label for="email">Email:</label><input type="email" id="email" th:field="*{email}">
						<small style="color: #bd1d1d;"></small>
					</div>
					<div class="form-input">
						<label for="password">Password:</label><input type="password" id="password" th:field="*{password}">
						<small style="color: #bd1d1d;"></small>
					</div>
					<small style="color: #bd1d1d;" th:if="${param.error}">Login failed</small>
					<input type="submit" value="Login" name="action">
				</form>
			</div>
		</div>

		<div id="registerContent" class="contents">
			<div class="form">
				<h2>Register</h2>
				<form th:action="@{createAccount}" method="post" id="form b" th:object="${accountModel}">
					<div class="form-input">
						<label for="username">Username:</label><input type="text" id="username" th:field="*{username}">
						<small style="color: #bd1d1d;"></small>
					</div>
					<div class="form-input">
						<label for="e-mail">Email:</label><input type="text" id="e-mail" th:field="*{email}">
						<small style="color: #bd1d1d;"></small>
					</div>
					<div class="form-input">
						<label for="phone">Phone:</label><input type="text" id="phone" th:field="*{phone}">
						<small style="color: #bd1d1d;"></small>
					</div>
					<div class="form-input">
						<label for="pwd">Password:</label><input type="password" id="pwd" th:field="*{password}">
						<small style="color: #bd1d1d;"></small>
					</div>
					<small style="color: #bd1d1d;" th:if="${param.error}">Account creation failed</small>
					<input type="submit" value="Submit" name="action">
				</form>
			</div>
		</div>
	</section>
	<script th:src="@{/js/script.js}" defer></script>
</body>
</html>
<script defer>
	document.addEventListener('DOMContentLoaded', () => {

		const loginForm = document.getElementById('form a');
		loginForm.addEventListener('submit', function (event) {
			event.preventDefault();

			const email = document.getElementById('email').value.trim();
			const password = document.getElementById('password').value.trim();

			const errorElements = document.querySelectorAll('.form-input small');
			errorElements.forEach(function (element) {
				element.textContent = '';
			});

			let isValid=true;
			const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
			if (email === '' || !emailRegex.test(email)) {
				document.querySelector('#email + small').textContent = 'Invalid email address';
				isValid=false;
			}
			if (password.length < 6) {
				document.querySelector('#password + small').textContent = 'Password must be at least 6 characters long';
				isValid=false;
			}

			if(isValid) {
				loginForm.submit();
			}
		});

		const registerForm = document.getElementById('form b');
		registerForm.addEventListener('submit', function (event) {
			event.preventDefault();
			const username = document.getElementById('username').value.trim();
			const email = document.getElementById('e-mail').value.trim(); // Update the ID here
			const phone = document.getElementById('phone').value.trim(); // Update the ID here
			const password = document.getElementById('pwd').value.trim();

			const errorElements = document.querySelectorAll('.form-input small');
			errorElements.forEach(function (element) {
				element.textContent = '';
			});

			let isValid=true;

			if (username === '') {
				document.querySelector('#username + small').textContent = 'Username cannot be empty';
				isValid=false;
			}

			const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
			if (email === '' || !emailRegex.test(email)) {
				document.querySelector('#e-mail + small').textContent = 'Invalid email address';
				isValid=false;
			}

			const phoneRegex = /^07[2389]\d{7}$/;
			if (phone === '' || !phoneRegex.test(phone)) {
				document.querySelector('#phone + small').textContent = 'Invalid phone number! Rwandan start by 07 [2|3|8|9]';
				isValid=false;
			}

			if (password.length < 6) {
				document.querySelector('#pwd + small').textContent = 'Password must be at least 6 characters long';
				isValid=false;
			}

			if(isValid) {
				registerForm.submit();
			}
		});
	});
</script>
