<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>SLDS - Login&Registration</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<section id="wrapper">
		<div class="tabs">
			<div id="loginTab">Login</div>
			<div id="registerTab">Register</div>
		</div>
		<div id="loginContent" class="contents active">
			<div class="form">
				<h2>Login</h2>
				<form th:action="@{userLogin}" method="post" id="form a" th:object="${accountModel}">
					<div class="form-input">
						<label for="email">Email:</label><input type="email" id="email" th:field="*{email}">
						<small th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: #bd1d1d;">Email error</small>
					</div>
					<div class="form-input">
						<label for="password">Password:</label><input type="password" id="password" th:field="*{password}">
						<small th:if="${#fields.hasErrors('password')}" th:errors="*{password}"  style="color: #bd1d1d;">Password error</small>
					</div>
					<small style="color: #bd1d1d;" th:if="${param.error}">Login failed</small>
					<input type="submit" value="Login" name="action">
				</form>
			</div>
		</div>

		<div id="registerContent" class="contents">
			<div class="form">
				<h2>Register</h2>
				<form th:action="@{createAccount}" method="post" id="form b" th:object="${accountModel}">
					<div class="form-input">
						<label for="username">Username:</label><input type="text" id="username" th:field="*{username}">
						<small th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color: #bd1d1d;">Email error</small>
					</div>
					<div class="form-input">
						<label for="e-mail">Email:</label><input type="text" id="e-mail" th:field="*{email}">
						<small th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: #bd1d1d;">Email error</small>
					</div>
					<div class="form-input">
						<label for="phone">Phone:</label><input type="text" id="phone" th:field="*{phone}">
						<small th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" style="color: #bd1d1d;">Email error</small>
					</div>
					<div class="form-input">
						<label for="pwd">Password:</label><input type="password" id="pwd" th:field="*{password}">
						<small th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: #bd1d1d;">Email error</small>
					</div>
					<small style="color: #bd1d1d;" th:if="${param.error}">Account creation failed</small>
					<input type="submit" value="Submit" name="action">
				</form>
			</div>
		</div>
	</section>
	<script th:src="@{/js/script.js}" defer></script>
</body>
</html>

<script defer>
	const loginForm = document.getElementById('form');

	loginForm.addEventListener('submit', e=>{
		e.preventDefault();
		console.log("Submitted");
		loginForm.submit();
	})
</script>