
<html lang="en">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>null</title>
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Poppins"
    />
</head>
<body>
<section id="sidebar">
    <div class="logo"><span class="lg">&image;</span>SLDonations</div>
    <div class="menu">
        <a th:href="@{/admin/patients}">Patients</a>
        <a th:href="@{/admin/donations}">Donations</a>
        <a th:href="@{/admin/feedbacks}">Feedbacks</a>
    </div>
</section>
</body>
</html>